Library/
Temp/
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Game Jame 2015.sln
/Game Jame 2015.userprefs
/Game Jame 2015-csharp.sln
/Assembly-CSharp-Editor.csproj
